{% assign doccategory = site.data.articles | where: 'slug', page.slug %}

<nav class="layout-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ "/" | relative_url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ "/categorias/" | relative_url }}">Categorías</a></li>
        <li class="breadcrumb-item"><a href="{{ doccategory[0].categoryObj.slug | prepend: 'categorias/' | relative_url | append: '/' }}">{{doccategory[0].categoryObj.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
    </ol>
</nav>
