<header class="header-area">
  <div class="header-navigation">
    <div class="container">
      <div class="navigation-box">
        <div class="navigation-left" id="page-header">
          {% capture logo %}{{ site.data.header.logo }}{% endcapture %}
          {% if logo != '' %}
            <a class="header-logo" href="{{ "/" | relative_url }}">
              <img
                src="{{ logo | relative_url }}"
                alt="header logo"
                class="logores" />
            </a>
          {% endif %}
        </div>
        <div class="navigation-right">
          <nav class="navigation-navbar">
            <ul id="navigation-menu" class="slimmenu">
              {% assign menu_active = site.data.navigation.items | where: 'draft', false %}
              {% for link in menu_active %}
                {% assign active = nil %}
                {% for sublink in link.submenu %}
                  {% if page.url contains sublink.url %}
                    {% assign active = 'active' %}
                  {% endif %}
                {% endfor %}
                {% if page.url contains link.url %}
                  {% assign active = 'active' %}
                {% endif %}
                <li class="{{ active }}{% if link.submenu %} themeix-dropdown has-children{% endif %}">
                  {% if link.text == "Home" %}
                    <a href="{{ link.url | relative_url }}">{{ link.text }}</a>
                  {% else %}
                    <a href="{{ link.url | relative_url }}">{{ link.text }}</a>
                  {% endif %}
                  {% if link.submenu %}
                    <ul class="themeix-dropdown-item" role="menu">
                      {% for sublink in link.submenu %}
                        <li {% if page.url contains sublink.url %}class="active"{% endif %}>
                          <a href="{{ sublink.url | relative_url }}">{{ sublink.text }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->